<a href="https://colab.research.google.com/github/carlos-alves-one/-Zoomcamp-Homework-1/blob/main/Zoomcamp_Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Machine Learning ZoomCamp - Homework 1 
**Author.....: Carlos Manuel de Oliveira Alves**<br>
**Created...: 05/08/2022**

In [ ]:
# import libraries Numpy and Pandas
import numpy as np
import pandas as pd

##Question 1

**What's the version of NumPy that you installed?**

In [5]:
np.__version__

'1.21.6'

In [7]:
# getting the data for the homework
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-05 21:00:32--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.008s

2022-09-05 21:00:32 (181 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [8]:
# read and save the data from the homework
df = pd.read_csv('data.csv')
df

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11909,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,46120
11910,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,56670
11911,Acura,ZDX,2012,premium unleaded (required),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50620
11912,Acura,ZDX,2013,premium unleaded (recommended),300.0,6.0,AUTOMATIC,all wheel drive,4.0,"Crossover,Hatchback,Luxury",Midsize,4dr Hatchback,23,16,204,50920
11913,Lincoln,Zephyr,2006,regular unleaded,221.0,6.0,AUTOMATIC,front wheel drive,4.0,Luxury,Midsize,Sedan,26,17,61,28995

##Question 2

**How many records are in the dataset?**

In [12]:
len(df)

11914

##Question 3

**Who are the most popular car manufacturers (top-3) according to the dataset?**

In [13]:
popularCar = df.groupby('Make').count().sort_values('Popularity',ascending=False)
popularCar

,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
Make,,,,,,,,,,,,,,,
Chevrolet,1123,1123,1123,1117,1121,1123,1123,1123,622,1123,1123,1123,1123,1123,1123
Ford,881,881,881,868,881,881,881,881,499,881,881,881,881,881,881
Volkswagen,809,809,809,809,805,809,809,809,585,809,809,809,809,809,809
Toyota,746,746,746,744,745,746,746,746,303,746,746,746,746,746,746
Dodge,626,626,626,626,626,626,626,626,320,626,626,626,626,626,626
Nissan,558,558,558,548,558,558,558,558,318,558,558,558,558,558,558
GMC,515,515,515,515,515,515,515,515,270,515,515,515,515,515,515
Honda,449,449,449,447,449,449,449,449,284,449,449,449,449,449,449
Mazda,423,423,423,423,403,423,423,423,259,423,423,423,423,423,423
Cadillac,397,397,397,397,397,397,397,397,397,397,397,397,397,397,397
Mercedes-Benz,353,353,353,352,353,353,353,353,353,353,353,353,353,353,353
Suzuki,351,351,348,351,351,351,351,351,99,351,351,351,351,351,351
BMW,334,334,334,334,334,334,334,334,334,334,334,334,334,334,334
Infiniti,330,330,330,330,330,330,330,330,330,330,330,330,330,330,330
Audi,328,328,328,328,328,328,328,328,328,328,328,328,328,328,328
Hyundai,303,303,303,303,303,303,303,303,214,303,303,303,303,303,303
Volvo,281,281,281,281,281,281,281,281,281,281,281,281,281,281,281
Subaru,256,256,256,256,256,256,256,256,214,256,256,256,256,256,256
Acura,252,252,252,252,252,252,252,252,252,252,252,252,252,252,252
Kia,231,231,231,226,231,231,231,231,109,231,231,231,231,231,231
Mitsubishi,213,213,213,212,210,213,213,213,128,213,213,213,213,213,213
Lexus,202,202,202,202,202,202,202,202,202,202,202,202,202,202,202
Buick,196,196,196,196,196,196,196,196,125,196,196,196,196,196,196
Chrysler,187,187,187,187,187,187,187,187,108,187,187,187,187,187,187
Pontiac,186,186,186,186,186,186,186,186,77,186,186,186,186,186,186
Lincoln,164,164,164,156,164,164,164,164,164,164,164,164,164,164,164
Oldsmobile,150,150,150,150,150,150,150,150,3,150,150,150,150,150,150
Land Rover,143,143,143,143,143,143,143,143,143,143,143,143,143,143,143
Porsche,136,136,136,136,136,136,136,136,136,136,136,136,136,136,136
Saab,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111
Aston Martin,93,93,93,93,93,93,93,93,93,93,93,93,93,93,93
Plymouth,82,82,82,82,82,82,82,82,39,82,82,82,82,82,82
Bentley,74,74,74,74,74,74,74,74,74,74,74,74,74,74,74
Ferrari,69,69,69,69,69,69,69,68,69,69,69,69,69,69,69
FIAT,62,62,62,59,62,62,62,62,41,62,62,62,62,62,62
Scion,60,60,60,60,60,60,60,60,48,60,60,60,60,60,60
Maserati,58,58,58,58,58,58,58,58,58,58,58,58,58,58,58
Lamborghini,52,52,52,52,52,52,52,52,52,52,52,52,52,52,52
Rolls-Royce,31,31,31,31,31,31,31,31,31,31,31,31,31,31,31
Lotus,29,29,29,29,29,29,29,29,29,29,29,29,29,29,29
Tesla,18,18,18,0,18,18,18,13,18,18,18,18,18,18,18
HUMMER,17,17,17,17,17,17,17,17,17,17,17,17,17,17,17
Maybach,16,16,16,16,16,16,16,16,16,16,16,16,16,16,16
McLaren,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Alfa Romeo,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Spyker,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Bugatti,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Genesis,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3

**Chevrolet, Volkswagen, Toyota**

##Question 4

**What's the number of unique Audi car models in the dataset?**

In [14]:
audiModels = df[df.Make == 'Audi']['Model'].unique()
audiModels

array(['100', '200', '80', '90', 'A3', 'A4 allroad', 'A4', 'A5', 'A6',
       'A7', 'A8', 'allroad quattro', 'allroad', 'Cabriolet', 'Coupe',
       'Q3', 'Q5', 'Q7', 'R8', 'RS 4', 'RS 5', 'RS 6', 'RS 7', 'S3', 'S4',
       'S5', 'S6', 'S7', 'S8', 'SQ5', 'TT RS', 'TT', 'TTS', 'V8'],
      dtype=object)

In [15]:
len(audiModels)

34

##Question 5

**How many columns in the dataset have missing values?**

In [16]:
missingValues = df.isnull().sum()
missingValues

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [18]:
np.count_nonzero(missingValues)

5

##Question 6.1

**Find the median value of "Engine Cylinders" column in the dataset.**

In [19]:
medianEngine = df['Engine Cylinders'].median()
medianEngine

6.0

##Question 6.2

**Next, calculate the most frequent value of the same "Engine Cylinders".**

In [20]:
freqEngine = df['Engine Cylinders'].value_counts()
freqEngine

4.0     4752
6.0     4489
8.0     2031
12.0     230
5.0      225
10.0      68
0.0       56
3.0       30
16.0       3
Name: Engine Cylinders, dtype: int64

In [30]:
x = freqEngine.keys()[0]
x

4.0

##Question 6.3

**Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.**

In [31]:
newMedian = df['Engine Cylinders'].fillna(x).median()
newMedian

6.0

##Question 6.4

**Now, calculate the median value of "Engine Cylinders" once again.**

In [35]:
newMedian2 = df['Engine Cylinders'].median()
newMedian2

6.0

##Question 7.1

**Select all the "Lotus" cars from the dataset.**

In [36]:
lotusCars = df[df.Make == 'Lotus']
lotusCars

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3914,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3915,Lotus,Elise,2010,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,47250
3916,Lotus,Elise,2010,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3917,Lotus,Elise,2011,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,51845
3918,Lotus,Elise,2011,premium unleaded (required),217.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990
3919,Lotus,Elise,2011,premium unleaded (required),217.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,57950
4216,Lotus,Esprit,2002,premium unleaded (required),350.0,8.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,21,14,613,89825
4217,Lotus,Esprit,2003,premium unleaded (required),350.0,8.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,21,14,613,90825
4218,Lotus,Esprit,2004,premium unleaded (required),350.0,8.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,21,14,613,93225
4257,Lotus,Evora 400,2017,premium unleaded (required),400.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,39,21,613,91900
4258,Lotus,Evora 400,2017,premium unleaded (required),400.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,39,21,613,91900
4259,Lotus,Evora,2011,premium unleaded (required),276.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,27,18,613,64000
4260,Lotus,Evora,2011,premium unleaded (required),276.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,18,613,65500
4261,Lotus,Evora,2013,premium unleaded (required),276.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,18,613,66800
4262,Lotus,Evora,2013,premium unleaded (required),345.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,17,613,77100
4263,Lotus,Evora,2013,premium unleaded (required),345.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,17,613,78600
4264,Lotus,Evora,2013,premium unleaded (required),276.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,18,613,68300
4265,Lotus,Evora,2014,premium unleaded (required),345.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,17,613,78750
4266,Lotus,Evora,2014,premium unleaded (required),276.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,18,613,68750
4267,Lotus,Evora,2014,premium unleaded (required),345.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,17,613,79980
4268,Lotus,Evora,2014,premium unleaded (required),276.0,6.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,18,613,69980
4292,Lotus,Exige,2009,premium unleaded (recommended),257.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,74995
4293,Lotus,Exige,2009,premium unleaded (recommended),240.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,65690
4294,Lotus,Exige,2010,premium unleaded (recommended),240.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,65690
4295,Lotus,Exige,2011,premium unleaded (recommended),240.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,65690
4296,Lotus,Exige,2011,premium unleaded (recommended),257.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,70750
4297,Lotus,Exige,2011,premium unleaded (recommended),257.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Coupe,26,20,613,74950

##Question 7.2

**Select only columns "Engine HP", "Engine Cylinders".**

In [37]:
lotusCars = df[df.Make == 'Lotus'][['Engine HP','Engine Cylinders']]
lotusCars

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3914      189.0               4.0
3915      189.0               4.0
3916      218.0               4.0
3917      189.0               4.0
3918      217.0               4.0
3919      217.0               4.0
4216      350.0               8.0
4217      350.0               8.0
4218      350.0               8.0
4257      400.0               6.0
4258      400.0               6.0
4259      276.0               6.0
4260      276.0               6.0
4261      276.0               6.0
4262      345.0               6.0
4263      345.0               6.0
4264      276.0               6.0
4265      345.0               6.0
4266      276.0               6.0
4267      345.0               6.0
4268      276.0               6.0
4292      257.0               4.0
4293      240.0               4.0
4294      240.0               4.0
4295      240.0               4.0
4296      257.0               4.0
4297      257.0               4.0

##Question 7.3

**Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).**

In [38]:
lotusCars = df[df.Make == 'Lotus'][['Engine HP','Engine Cylinders']].drop_duplicates()
lotusCars

      Engine HP  Engine Cylinders
3912      189.0               4.0
3913      218.0               4.0
3918      217.0               4.0
4216      350.0               8.0
4257      400.0               6.0
4259      276.0               6.0
4262      345.0               6.0
4292      257.0               4.0
4293      240.0               4.0